.hero {
    background: url("../img/decor/bg_maincontent1.jpg")center center no-repeat;
    background-size: cover;
    // background-color: $blue;
    height: 100vh;
    min-height: 650px;
    color: #fff;
}

.hero__title-section {
    width: 45%;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 60px ;
}

.hero__main-title {
    font-size: 48px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 17px;
    text-transform: uppercase;
}

.hero__title-desc {
    font-size: 21px;
    margin-bottom: 48px;
    padding-right: 10%;
}