.map-section {
    background: url(../../img/decor/map.jpg)center center no-repeat;
    background-size: cover;

    @include tablets {
        width: 768px;
        height: 576px;
    }

    @include phones {
        width: 480px;
        height: 482px;
    }
}