.radio {
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }

    &--checkbox {
        .radio__visible {
            border-radius: 0;

            &::before {
                background: url(../img/icons/checkmark.png) center center no-repeat;
            }
        }
    }
}

.radio__elem {
    display: none;

    &:checked ~ .radio__visible {
        &::before {
            display: block;
        }
    }
}

.radio__visible {
    width: 26px;
    height: 26px;
    position: relative;
    border-radius: 50%;
    background: #fff;
    margin-right: 10px;
    margin-bottom: 17px;

    &:before {
        content: "";
        width: 14px;
        height: 14px;
        background: #fedb3f;
        border-radius: 50%;
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.radio--checkbox {
    margin-bottom: 30px;
}